h1 {
  font-size: 1.2em;
  color: #999;
  color: #555;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.router-link-active {
  color: #039be5;
}
.header-bar {
  background-color: rgb(0,120,215);
  height: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* Added by VP 10 August 2016 */
.marker {
  margin: 0;
  font-style: italic;
  font-size: small;
  background-color: #EFF1F2;
  padding: 1px 8px;
  /*+border-radius: 6px;*/
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

.componentMarker {
  margin: 0;
  font-style: italic;
  font-size: small;
  /*background-color: #f6f6f6;*/
  padding: 1px 8px;
  /*+border-radius: 6px;*/
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

fieldset
{
  border: solid 1px #dadada;
  border-radius: 6px;
  /*background-color: #ffb73e !important;*/
}
