label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: #607D8B;
  color: rgb(0,120,215);
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

/* Added by VP 10 August 2016 */
.marker {
  margin: 0;
  font-style: italic;
  font-size: small;
  background-color: #EFF1F2;
  padding: 1px 8px;
  /*+border-radius: 6px;*/
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

.componentMarker {
  margin: 0;
  font-style: italic;
  font-size: small;
  /*background-color: #dadada;*/
  padding: 1px 8px;
  /*+border-radius: 6px;*/
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

fieldset
{
  border: solid 1px #dadada;
  border-radius: 6px;
  /*background-color: #ffb73e !important;*/
}
